name: pr

on:
  pull_request:
    paths-ignore:
      - "**.md"

env:
  GHCR_REPO: ghcr.io/${{ github.repository_owner }}/klipper-helm

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Set DOCKERHUB_REPO
        run: |
          if [ "${{ github.repository_owner }}" == "k3s-io" ]; then
            echo "DOCKERHUB_REPO=rancher/klipper-helm" >> $GITHUB_ENV
          else
            echo "DOCKERHUB_REPO=${{ secrets.DOCKER_USERNAME }}/klipper-helm" >> $GITHUB_ENV
          fi

      - name: Docker source meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_REPO }}
            ${{ env.GHCR_REPO }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          outputs: type=image,"name=${{ env.DOCKERHUB_REPO }},${{ env.GHCR_REPO }}",push-by-digest=true,name-canonical=true,push=false

  build-arm:
    runs-on: ubuntu-22.04-arm
    strategy:
      fail-fast: false
      matrix:
        platform:
          - arm64
          - arm/v7

    permissions:
      contents: read

    steps:
      - name: Replace / with -
        run: |
          platform=${{ matrix.platform }}
          echo "ARCH=${platform//\//-}" >> $GITHUB_ENV

      - name: Set DOCKERHUB_REPO
        run: |
          if [ "${{ github.repository_owner }}" == "k3s-io" ]; then
            echo "DOCKERHUB_REPO=rancher/klipper-helm" >> $GITHUB_ENV
          else
            echo "DOCKERHUB_REPO=${{ secrets.DOCKER_USERNAME }}/klipper-helm" >> $GITHUB_ENV
          fi

      - name: Docker source meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_REPO }}
            ${{ env.GHCR_REPO }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/${{ matrix.platform }}
          outputs: type=image,"name=${{ env.DOCKERHUB_REPO }},${{ env.GHCR_REPO }}",push-by-digest=true,name-canonical=true,push=false

  build-riscv:
    runs-on: riscv-builders

    permissions:
      contents: read

    steps:
      - name: Set DOCKERHUB_REPO
        run: |
          if [ "${{ github.repository_owner }}" == "k3s-io" ]; then
            echo "DOCKERHUB_REPO=rancher/klipper-helm" >> $GITHUB_ENV
          else
            echo "DOCKERHUB_REPO=${{ secrets.DOCKER_USERNAME }}/klipper-helm" >> $GITHUB_ENV
          fi

      - name: Docker source meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_REPO }}
            ${{ env.GHCR_REPO }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/riscv64
          outputs: type=image,"name=${{ env.DOCKERHUB_REPO }},${{ env.GHCR_REPO }}",push-by-digest=true,name-canonical=true,push=false
